@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'digital7';
  src: url('./fonts/digital-7.ttf') format('truetype');
  font-display: swap;
}

/*#region - start of - input autofill fix */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
/*#endregion - end of - input autofill fix */

input[type='range']::-webkit-slider-thumb {
  transition-duration: 0.3s;
  transition-timing-function: ease;
  -webkit-transition-property: transform;
  transition-property: transform;
}
input[type='range']::-webkit-slider-thumb:active {
  transform: scale(1.75);
}
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.item .caret-svg {
  width: 1rem;
  height: 1rem;
  transition: all 0.3s ease-in-out;
}
.item:hover .caret-svg {
  transform: translateX(0.5rem);
}
.item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 100%;
  left: 0;
  border-radius: 50px;
  background-color: rgba(187, 187, 187, 0.418);
  transition: all 0.3s ease;
}
.item.checked::after {
  width: 100%;
  z-index: 9;
}
/* .item:focus-within {
  pointer-events: none;
} */
.item input ~ .task-msg {
  z-index: -10;
  top: 50%;
  right: 15%;
  transform: translateY(-50%);
  letter-spacing: 0.25rem;
  font-style: italic;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
.item input:checked ~ .task-msg {
  color: theme('colors.emerald.500');
  z-index: 10;
  pointer-events: none;
  -webkit-animation: fadeInOut 2s;
  animation: fadeInOut 2s;
}
@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(30px, -50%, 0);
  }
  30% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, -50%, 0);
  }
  75% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-30px, -50%, 0);
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(30px, -50%, 0);
  }
  30% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, -50%, 0);
  }
  75% {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, -50%, 0);
  }
  100% {
    opacity: 0;
    visibility: hidden;
    transform: translate3d(-30px, -50%, 0);
  }
}
.checkbox-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.checkbox-label:focus-within {
  outline: 2px solid theme('colors.emerald.500');
}
.checkbox-label input:checked + .checkbox,
.checkbox-label:focus-within input + .checkbox {
  border-color: theme('colors.emerald.500');
}
.checkbox-label input:checked + .checkbox svg path {
  fill: theme('colors.emerald.500');
}
.checkbox-label input:checked + .checkbox svg polyline {
  stroke-dashoffset: 0;
}
.checkbox-label:hover .checkbox svg path {
  stroke-dashoffset: 0;
}
.checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid theme('colors.gray.200');
  border-radius: 3px;
}
.checkbox svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  left: -2px;
}
.checkbox svg path {
  fill: none;
  stroke: theme('colors.emerald.500');
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 71px;
  stroke-dashoffset: 71px;
  transition: all 0.3s ease-in-out;
}
.checkbox svg polyline {
  fill: none;
  stroke: theme('colors.white');
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 18px;
  stroke-dashoffset: 18px;
  transition: all 0.3s ease-in-out;
}
